{%extends "base.html"%}

{% block title %}
Admin
{%endblock%}

{%block content%}
{% if error %}

<div class="admin-error">
    ⚠️ {{ error }}
</div>

{% endif %}
{% if error %}

<script>
    setTimeout(function () {
        const errorBox = document.querySelector(".admin-error");

        if (errorBox) {
            errorBox.style.opacity = "0";

            setTimeout(function () {
                errorBox.remove();
            }, 500);
        }

    }, 4000);
</script>

{% endif %}
<section class="characters">
    <div class="section-title">
        <div class="dashboard">
            <div class="dashboard-box">
                <h3>👥 ตัวละครทั้งหมด</h3>

                <h1>{{ characters|length }}</h1>

            </div>
            <div class="dashboard-box">

                <h3>💾 Database</h3>

                <h1>Online</h1>

            </div>
            <div class="dashboard-box">

                <h3>🟢 Status</h3>

                <h1>Ready</h1>

            </div>
        </div>
        <h2>👑 จัดการตัวละคร </h2>
        <p>เพิ่มตัวละครเข้าสู่อาณาจักร Gremlin Kingdom</p>
    </div>
    <form action="/add-character" method="post" enctype="multipart/form-data" class="admin-form">
        <input type="text" name="name" placeholder="ชื่อ" required>
        <input type="text" name="title" placeholder="ตำแหน่ง">
        <select name="race" required>
            <option value="" disabled selected>🐾 เลือกเผ่าพันธุ์ </option>
            {% for race in race_options %}
            <option value="{{race}}">{{race}}</option>
            {%endfor%}
        </select>
        <input type="number" name="age" placeholder="อายุ">
        <textarea name="description" rows="5" placeholder="ประวัติโดยย่อ"></textarea>
        <input type="file" name="image" accept="image/*">
        <select name="home" required>
            <option value="" disabled selected>🏠 เลือกบ้าน</option>
            {% for home in home_options %}
            <option value="{{home}}">{{home}}</option>
            {%endfor%}
        </select>
        <input type="text" name="relationship" placeholder="ความสัมพันธ์">
        <button type="submit"> 💾 บันทึกตัวละคร </button>
    </form>
    <br>
    <hr>
    <h2 class="admin-list-title">
        📚 ตัวละครทั้งหมด
    </h2>

    <div class="card-container">

        {%for character in characters%}
        <div class="character-card">
            <img src="{{character['image']}}" alt="{{character['name']}}">
            <h2>{{character["name"]}}</h2>
            <h3>{{character["title"]}}</h3>
            <p><b>เผ่าพันธ์:</b>{{character["race"]}}</p>
            <p><b>อายุ:</b>{{character["age"]}}</p>
            <p><strong>🏠 บ้าน :</strong> {{ character["home"] }}</p>
            <p><strong>🤝 ความสัมพันธ์ :</strong> {{ character["relationship"] }}</p>
            <div class="admin-action">
                <a href="/edit-character/{{character['id']}}" class="edit-btn">
                    ✏ แก้ไข
                </a>
                <form action="/delete-character/{{ character['id'] }}" method="post"
                    onsubmit="return confirm('⚠️ คุณแน่ใจหรือไม่ว่าต้องการลบตัวละครนี้?');">

                    <button type="submit" class="delete-btn">
                        🗑️ ลบ
                    </button>

                </form>


            </div>

        </div>

        {%endfor%}
    </div>

</section>

{%endblock%}