<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <title>Gremlin Kingdom</title>

    <link rel="icon" href="/static/icons/favicon.png">

    <link rel="stylesheet" href="/static/css/style.css">

    <link
        href="https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700;900&family=Poppins:wght@300;400;500;600&display=swap"
        rel="stylesheet">
</head>

<body>

    <nav>

        <div class="logo">

            <span class="crown">👑</span>

            <span class="logo-text">

                Gremlin Kingdom

            </span>

        </div>

        <ul>

            <li><a href="/" class="{%if request.url.path == '/'%}active {%endif%}">Home </a> </li>

            <li><a href="/king" class="{% if request.url.path == '/king' %}active{% endif %}">
                    King
                </a></li>

            <li><a href="/history" class="{% if request.url.path == '/history' %}active{% endif %}">
                    History
                </a></li>

            <li><a href="/gallery" class="{% if request.url.path == '/gallery' %}active{% endif %}">
                    Gallery
                </a></li>

            <li><a href="/timeline" class="{% if request.url.path == '/timeline' %}active{% endif %}">
                    Timeline
                </a></li>

            <li><a href="/codex" class="{% if request.url.path == '/codex' %}active{% endif %}">
                    Royal Codex
                </a></li>

        </ul>

    </nav>

    {% block content %}

    {% endblock %}

</body>

</html>