<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}Gremlin Kingdom{% endblock %}</title>

    <link rel="icon" href="/static/icons/favicon.png">

    <link rel="stylesheet" href="/static/css/style.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700;900&family=Poppins:wght@300;400;500;700&display=swap" rel="stylesheet">

</head>

<body>

<nav>

    <div class="logo">

        <span class="crown">👑</span>

        <span class="logo-text">GREMLIN KINGDOM</span>

    </div>

    <ul>

        <li><a href="/">Home</a></li>

        <li><a href="/characters">Characters</a></li>

        <li><a href="/timeline">Timeline</a></li>

        <li><a href="/world">World</a></li>

        <li><a href="/gallery">Gallery</a></li>

    </ul>

</nav>

{% block content %}

{% endblock %}

<footer>
    <h2>👑 GREMLIN KINGDOM</h2>
    <p>The Official Encyclopedia</p>
    <div class="footer-menu">
        <a href="/">Home</a>
        <a href="/characters">Characters</a>
        <a href="/timeline">Timeline</a>
        <a href="/world">World</a>
        <a href="/gallery">Gallery</a>
    </div>
    <p> © 2026 Gremlin Kingdom </p>
    <p>Made with ❤️ by Andy & J</p>
    

</footer>

</body>

</html>