{% extends "base.html" %}

{% block content %}

<div class="codex">

    <h1>👤 ชื่อ :</strong> {{ character["name"] }}</h1>

    <img src="{{ character["image"] }}" width="350">

    <h2>👑 ตำแหน่ง :</strong>  {{ character["title"] }}</h2>

    <p><b>🐾 เผ่าพันธุ์ :</b> {{ character["race"] }}</p>

    <p><b>🎂 อายุ :</b> {{ character["age"] }}</p>

    <p><strong>🏠 บ้าน :</strong> {{ character["home"] }}</p>

    <p><strong>🤝 ความสัมพันธ์ :</strong> {{ character["relationship"] }}</p>

    <p><strong>📖 ประวัติ :</strong> {{ character["description"] }}</p>

    <br>

    <a href="/codex">
        ← Back to Royal Codex
    </a>

</div>

{% endblock %}