{% extends "base.html" %}

{% block content %}

<section class="codex">
    <h1>👑 Royal Codex</h1>
    <div class="pagination">

        {% if page > 1 %}
        <a href="/codex?q={{ query }}&page={{ page - 1 }}" class="page-btn">
            ◀ ก่อนหน้า
        </a>
        {% endif %}

        {% for number in range(1, total_pages + 1) %}

        {% if number == page %}
        <span class="page-btn active">
            {{ number }}
        </span>
        {% else %}
        <a href="/codex?q={{ query }}&page={{ number }}" class="page-btn">
            {{ number }}
        </a>
        {% endif %}

        {% endfor %}

        {% if page < total_pages %} <a href="/codex?q={{ query }}&page={{ page + 1 }}" class="page-btn">
            ถัดไป ▶
            </a>
            {% endif %}

    </div>

    <div class="search-box">
        <form action="/codex" method="get">
            <input type="text" name="q" placeholder="🔍 ค้นหาตัวละคร..." value="{{query if query else ''}}">
            <button type="submit">
                ค้นหา
            </button>
        </form>
    </div>

    <div class="card-container">

        {%for character in characters%}
        <div class="character-card">
            <div class="rarity">👑 LEGENDARY</div>
            <img src="{{character['image']}}" alt="{{character['name']}}">
            <h2>{{character["name"]}}</h2>
            <h3>{{character["title"]}}</h3>
            <p><strong>เผ่าพันธ์:</strong> {{character["race"]}}</p>
            <p><strong>อายุ:</strong>{{character["age"]}} </p>
            <p>{{character["description"]}}</p>
            <a href="/character/{{character['id']}}" class="profile-btn">
                View Profile →
            </a>
        </div>
        {%endfor%}

    </div>

    <!-- Pagination ด้านล่าง -->
    <div class="pagination">

        {% if page > 1 %}
        <a href="/codex?q={{ query }}&page={{ page - 1 }}" class="page-btn">
            ◀ ก่อนหน้า
        </a>
        {% endif %}

        {% for number in range(1, total_pages + 1) %}

        {% if number == page %}
        <span class="page-btn active">
            {{ number }}
        </span>
        {% else %}
        <a href="/codex?q={{ query }}&page={{ number }}" class="page-btn">
            {{ number }}
        </a>
        {% endif %}

        {% endfor %}

        {% if page < total_pages %} <a href="/codex?q={{ query }}&page={{ page + 1 }}" class="page-btn">
            ถัดไป ▶
            </a>
            {% endif %}

    </div>

</section>
</section>

{% endblock %}