{% extends "base.html" %}

{% block content %}

<section class="codex">
    <h1>👑 Royal Codex</h1>
    
    <div class="card-container">
        
        {%for character in characters%}
        <div class="character-card">
            <div class="rarity">👑 LEGENDARY</div>
            <img src="{{character['image']}}" alt="{{character['name']}}">
            <h2>{{character["name"]}}</h2>
            <h3>{{character["title"]}}</h3>
            <p><strong>เผ่าพันธ์:</strong> {{character["race"]}}</p>
            <p><strong>อายุ:</strong>{{character["age"]}} </p>
            <p>{{character["description"]}}</p>
            <a href="/character/{{character['id']}}" class="profile-btn">View Profile → </a>
        </div>
        {%endfor%}
    </div>
</section>

{% endblock %}