{% extends "base.html" %}

{% block title %}

Gremlin Kingdom

{% endblock %}

{% block content %}

<section class="hero">

    <div class="overlay hero-content">

        <h1>

            Gremlin

            <span>KINGDOM</span>

        </h1>

        <p class="subtitle">

            The Official Encyclopedia of Gremlin Kingdom

        </p>

        <button>

            Enter The Kingdom

        </button>

    </div>

    <div class="scroll">

        <div>↓</div>

        <small>Scroll</small>

    </div>

</section>

{% endblock %}